---
---

#urlinp {
  float: right; 
  padding-right: 10px;
}
/*
article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

#url-input
{ 
	height: 150px;
}

#input {
	/*margin-top: 20px;
	margin-bottom: 20px;*/
  padding: 5px;
  line-height: 1.4;
}

#output  {
  bottom: 0;
  position: absolute;
  top: 185px;
  width: 100%;   
   
  border-top-color: #d0dbe1; /*#CE2027;*/
  border-top-width: 2px;
  border-top-style: solid;  
}

#map {
	height: 100%;
	width: 100%; 
}

#floatbox {
  box-shadow: 0px 0px 15px rgba(50,50,50,0.1);
  border-color: #d0dbe1; /*rgba(206, 32, 39, 0.4); #CE2027;*/
  border-width: 1px;
  border-style: solid;
  
  background: white;

  display: block;
  /*overflow: auto;*/
  position: absolute;
  right: 20px;
  top: 20px;
  bottom: 20px;
  width: 450px;
  opacity: 0.93;
  z-index: 10;
}   

.latlong {
  font-family: monospace;
  margin: 0;
   
  left: 0;
  right: 0;
  bottom: 0;
  height: 25px;
  position: absolute;
  display: block;
  
  font-style: normal;
  font-size: 1em;
  
  padding-left: 0.8em;
  padding-right: 0.8em;
}

#latlong_small button {
  bottom: 5px;
  position: absolute;
  right: 4px
} 

#latlong_large button {
  bottom: 4px;
  position: absolute;
  right: 4px
}

.latlong table {
  line-height: 1em;
}

.latlong table tr {
  border-bottom: none;
}

.latlong table tr td:first-child {
  width: 40px;
  text-align: center;
}

.latlong table td {
  width: auto;
  vertical-align: middle;
}

.latlong#latlong_large {
  height: 286px;
}

code#nodedata.small {
  bottom: 286px;
}        

code#nodedata {
  background: white;

  top: 0;
  bottom: 25px;
  left: 0;
  right: 0;
  
  position: absolute;
  
	overflow-x: hidden;
	overflow-y: auto;
  
  white-space: pre-wrap;

  padding: 0.8em;
  line-height: 1em;
  color: black;
  
  border-bottom-color: #d0dbe1; /*#CE2027;*/
  border-bottom-width: 2px;
  border-bottom-style: solid;
  
}

pre code .attribute,
code#nodedata .attribute {
  color: #444;  
}

pre code .literal,
code#nodedata .literal {
  color: #5ABA47;  
}

pre code .string,
code#nodedata .string {
  color: #CE2027;
}

pre code .number,
code#nodedata .number {
  color: #488BC9;
}

.leaflet-container .leaflet-control-attribution {
  opacity: 0.5;
}

#input table {
  background-color: white;
  border-color: #C0C0C0 #D9D9D9 #D9D9D9;
  border-radius: 1px 1px 1px 1px;
  border-right: 1px solid #D9D9D9;
  border-style: solid;
  border-width: 1px;
  z-index: 1001;
  position: relative;
}

#input table td.endpoint {
  color: #aaa;
  padding-left: 2px;
}

#input td #url {
  border: medium none;
}

#input td #url,
#input td .url { 
  position: relative;
  left: -3px; 
  outline: none;
}

#input #url: focus{
  outline: none;
}

#input table {
  border-collapse: collapse;
  width: 100%;
}

#input table td.minimize {
  white-space: nowrap;
	width: 1%;
}

#input table td.fill {
  width: 99%; 
}

#input table td.fill input{
  width: 99%; 
}

#input table tr td:first-child {
  padding-left: 5px;
}

tr.dropdown:hover {
  background-color: rgba(206, 32, 39, 0.1);/* #CE2027;*/
}

tr.dropdown td {
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: hand; 
  cursor: pointer; 
}

button {
  cursor: hand; 
  cursor: pointer; 
}

tr.last_history {
    border-bottom: 1px solid #d0dbe1; /*#CE2027;*/
}

tr.example td {
  color: #555;
}

#busy {
	width: 18px;
	height: 18px;
}

button.button_up, 
button.button_down {
  width: 16px;
  height: 16px;
  display: block;
  border: none;
  text-decoration: none;
}

button.button_down {
  background: white url('{{ site.baseurl }}/img/button_down.png') no-repeat scroll center 5px;
}

button.button_up {
  background: white url('{{ site.baseurl }}/img/button_up.png') no-repeat scroll center 5px;
}
