/cms/config.json
/cms/config/deploy/
/cms/log/
/cms/tmp/
/config/local/
/devsite/log/
/devsite/tmp/
/discovery/log/
/discovery/log/
/discovery/tmp/
/discovery/tmp/
/server/config.json
/server/config/deploy/
/server/log/
/server/tmp/
/services/log/
/services/tmp/
