<h4>Layer Properties Mapping<span class="codecomment">Map the properties to meaningful linked data uri's. </span></h4>
<div id='ldmap'>
  <br/>
  <div id="field_data">
    <div>
      <span class='flex'>property type:&nbsp;&nbsp;</span>
      <span class='flexinput'>
        <%= @ptypeSelect %>
        <input class='layer' type="text" id="relation_type" name="relation_type", value="" placeholder="<URI> or select above" onchange=""/>
      </span>
    </div>
    
    <div>
      <span class='flex'>unit:&nbsp;&nbsp;</span>
      <span class='flexinput'>
        <input disabled = 'disabled' class='layer' type="text" id="relation_unit" name="relation_unit", value="aap" onchange=""/>
      </span>
    </div>
    
    <div>
      <span class='flex'>language:&nbsp;&nbsp;</span>
      <span class='flexinput'>
        <input disabled = 'disabled' class='layer' type="text" id="relation_lang" name="relation_lang", value="aap" onchange=""/>
      </span>
    </div>
    
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() { 
    selectFieldTags( "<%= @layer.name %>", 'fields')
  })
</script>


