      <footer>
        <div class="container">
          <div class="logos">
            <a href="http://www.waag.org/"><img src="{{ site.url }}/img/waag-small.png" /></a>
            <a href="http://www.citysdk.eu/"><img src="{{ site.url }}/img/citysdk-small.png" /></a>
            <a href="http://ec.europa.eu/information_society/activities/ict_psp/about/index_en.htm"><img src="{{ site.url }}/img/ict-psp.png" /></a>
            <a href="http://europa.eu/"><img src="{{ site.url }}/img/europa.png" /></a>
          </div>
        </div>          
      </footer>
  </body>
</html>