      <footer>
        <div class="container">
          <a href='http://waag.org'>Waag Society</a> &ndash; 2013
          <div class="logos">
            <a href="http://www.waag.org/"><img src="/img/waag-small.png" /></a>
            <a href="http://www.citysdk.eu/"><img src="/img/citysdk-small.png" /></a>
            <a href="http://ec.europa.eu/information_society/activities/ict_psp/about/index_en.htm"><img src="/img/ict-psp.png" /></a>
            <a href="http://europa.eu/"><img src="/img/europa.png" /></a>
          </div>
        </div>          
      </footer>
  </body>
</html>