<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }} | CitySDK Linked Data Platform</title>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width,initial-scale=1">
    <link href="{{ site.baseurl }}/img/favicon.ico" rel="shortcut icon" type=image/x-icon>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/kickstart.css" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" media="all" /> 

    {% if page.layout == "map" %}
    <script src="{{ site.baseurl }}/js/jquery-1.9.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/highlight.min.js"></script>
    <script src="{{ site.baseurl }}/js/leaflet.js"></script>        
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->    

	   
	<link rel="stylesheet" href="{{ site.baseurl }}/css/leaflet.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/map.css">
    <script src="{{ site.baseurl }}/js/spin.min.js"></script>

    {% endif %}
	
	<link href="//fonts.googleapis.com/css?family=Ubuntu:300italic,300,400italic,400,500italic,500,700italic,700" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.1.1.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/kickstart.js"></script>
	<link href="//fonts.googleapis.com/css?family=Ubuntu:300italic,300,400italic,400,500italic,500,700italic,700" rel="stylesheet" type="text/css">   
    
  	<script type="text/javascript">
      $(document).ready(function () {
        hljs.initHighlightingOnLoad();
        $("a.ep_cms_url").attr("href", "http://cms.citysdk.waag.org");
  		});
      // Dynamic endpoint URL, used on data page
      var epApiUrl = "http://api.citysdk.waag.org";
  	</script>
  </head>
  <body>	
    <header>
      <div class="container">
        <h1>CitySDK Linked Data API</h1>
        <div class="logo">
          <img src="img/citysdk.png" />
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li>
              <ul>
                <li><a href="about">About</a></li>
                <li><a href="faq">FAQ</a></li>
              </ul>
            </li>
            <li><a href="apps">Apps</a></li>
            <li><a href="data">Data</a></li>
            <li><a href="api">API</a></li>
            <li>
              <ul>                
                <li><a href="api-read">Read</a></li>
                <li><a href="api-write">Write</a></li>
                <li><a href="api-match">Match</a></li>
              </ul>
            </li>
            <li><a href="map">Map viewer</a></li>
          </ul>
        </nav>
      </div>
  	</header>



<!-- ===================================== END HEADER ===================================== -->
  
