<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }} | CitySDK Linked Data Platform</title>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width,initial-scale=1">
    <link href="{{ site.baseurl }}/img/favicon.ico" rel="shortcut icon" type=image/x-icon>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/XXkickstart.css" media="all" />


    {% if page.layout == "map2" %}
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/styleWAAG.css" media="all" /> 
    <script src="{{ site.baseurl }}/js/jquery-1.9.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/highlight.min.js"></script>
    <script src="{{ site.baseurl }}/js/leaflet.js"></script>        
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->    

	   
	<link rel="stylesheet" href="{{ site.baseurl }}/css/leaflet.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/map.css">
    <script src="{{ site.baseurl }}/js/spin.min.js"></script>

    {% endif %}
	
	<link href="//fonts.googleapis.com/css?family=Ubuntu:300italic,300,400italic,400,500italic,500,700italic,700" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.1.1.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/kickstart.js"></script>
	<link href="//fonts.googleapis.com/css?family=Ubuntu:300italic,300,400italic,400,500italic,500,700italic,700" rel="stylesheet" type="text/css">   
    
  	<script type="text/javascript">
      $(document).ready(function () {
        hljs.initHighlightingOnLoad();
        $("a.ep_cms_url").attr("href", "http://cms.citysdk.waag.org");
  		});
      // Dynamic endpoint URL, used on data page
      var epApiUrl = "http://api.citysdk.waag.org";
  	</script>
  </head>

  <body>	


<div>
			<div class="rhnav">	
				<div class="col_12">
					<div class="col_9">
						<a href="{{ site.baseurl }}/" style="text-decoration: none; color: #000;"><img src="{{ site.baseurl }}/img/logotitel.jpg" class="imgextramarge"></a>
					</div>
					<div class="col_3">
						<a href="{{ site.baseurl }}/" style="text-decoration: none; color: #000;"><img src="{{ site.baseurl }}/img/citysdk.png" class="imgextramarge" ></a>
					</div>
				</div>
	
				<!-- Menu Horizontal -->
				<div class="col_12" >
				<ul class="menu extramarge">
				<li{% if page.title == "Home" %} class='current'{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
				<li{% if page.title == "Start" %} class='current'{% endif %}><a href="#">Getting started</a>
					<ul>
					<li><a href="{{ site.baseurl }}/doc">Documentation</a></li>
					<li><a href="{{ site.baseurl }}/app">App Gallery</a></li>
					<li><a href="{{ site.baseurl }}/sample">Sample data</a></li>
					<li><a href="{{ site.baseurl }}/api">API Key/account</a></li>
					</ul>
				</li>
				<li{% if page.title == "Data" %} class='current'{% endif %}><a href="#">Data</a>
					<ul>
					<li><a href="{{ site.baseurl }}/map">Map viewer</a></li>
					<li><a href="{{ site.baseurl }}/data">Data (CMS)</a></li>
					<li><a href="{{ site.baseurl }}/cities">Cities/areas</a></li>
					</ul>
				</li>
				<li{% if page.title == "FAQ" %} class='current'{% endif %}><a href="{{ site.baseurl }}/faq">FAQ</a></li>
				<li{% if page.title == "Blog" %} class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li{% if page.title == "Contact" %} class='current'{% endif %}><a href="{{ site.baseurl }}/contact">Contact</a></li>
				</ul>
				</div>	
				<!--End Menu Horizontal -->
	
			</div> 

			<hr/>

</div>

<!-- ===================================== END HEADER ===================================== -->
  
