<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }} | CitySDK Linked Data Platform</title>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width,initial-scale=1">
    <link href="{{ site.baseurl }}/img/favicon.ico" rel="shortcut icon" type=image/x-icon>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/kickstart.css" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" media="all" /> 

    {% if page.layout == "map2" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/mapstyle.css">	
    <script src="{{ site.baseurl }}/js/jquery-1.9.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/highlight.min.js"></script>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->    

    <link rel="stylesheet" href="{{ site.baseurl }}/css/leaflet.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/map.css">
    <script src="{{ site.baseurl }}/js/spin.min.js"></script>
	<script src="{{ site.baseurl }}/js/leaflet.js"></script>  
    <script src="{{ site.baseurl }}/js/jquery-migrate-1.2.1.min.js"></script>
	
    {% endif %}
	
	 <script type="text/javascript">
      $(document).ready(function () {
        hljs.initHighlightingOnLoad();
        $("a.ep_cms_url").attr("href", "http://cms.citysdk.waag.org");
  		});
      // Dynamic endpoint URL, used on data page
      var epApiUrl = "http://api.citysdk.waag.org";
  	</script>
	
  </head>
  <body>	
  <header>
      <div class="container">
<!--         <h1>CitySDK Linked Data API</h1>
        <div class="logo">
          <img src="{{ site.baseurl }}/img/citysdk.png" />
        </div> -->
		
		<div class="col_9 left" >
			<h1 class="headertitle"><a href="index.htm" style="text-decoration: none; color: #000;">CitySDK Linked Data Platform</a></h1>
		</div>
		<div class="col_3" >
			<a href="index.htm" style="text-decoration: none; color: #000;"><img src="{{ site.baseurl }}/img/citysdk.png" class="imgextramarge"></a>
		</div>
		
		<!-- Menu Horizontal -->
		<div class="mapmenu" >
				<ul class="menu extramarge">
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li class='current'><a href="#">Getting started</a>
					<ul>
					<li><a href="{{ site.baseurl }}/doc">Documentation</a></li>
					<li><a href="{{ site.baseurl }}/app">App Gallery</a></li>
					<li><a href="{{ site.baseurl }}/sample">Sample data</a></li>
					<li><a href="{{ site.baseurl }}/api">API Key/account</a></li>
					</ul>
				</li>
				<li ><a href="#">Data</a>
					<ul>
					<li><a href="{{ site.baseurl }}/map">Map viewer</a></li>
					<li><a href="{{ site.baseurl }}/data">Data (CMS)</a></li>
					<li><a href="{{ site.baseurl }}/cities">Cities/areas</a></li>
					</ul>
				</li>
				<li ><a href="{{ site.baseurl }}/faq">FAQ</a></li>
				<li ><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li ><a href="{{ site.baseurl }}/contact">Contact</a></li>
				</ul>
		</div>	
		<!--End Menu Horizontal -->
      </div>
  </header>

