class CitySDK_API
  EP_ENDPOINT          = 'asd'
  EP_DESCRIPTION       = 'Amsterdam/NL CitySDK endpoint.'
  EP_API_URL           = 'http://api.citysdk.waag.org'
  EP_CMS_URL           = 'http://cms.citysdk.waag.org'
  EP_INFO_URL          = 'http://citysdk.waag/map'
  EP_SERVICES_URL      = 'http://services.citysdk.waag/map'
  EP_TILESERVER_URL    = 'http://tiles.citysdk.waag.org/v2/citysdk'
  EP_MAINTAINER_EMAIL  = 'citysdk@waag.org'
end

